body {
  text-align: center;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  margin: 4px;
  border: 1px solid lightgrey;
  padding: 4px;
  max-width: 300px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
}

button {
  cursor: pointer
}

button:not(#add-to-cart) {
  border-radius: 4px;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin: 16px 0;
}

a:hover {
  color: rgb(229, 122, 208);
}